@charset "UTF-8";

html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Meiryo UI", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333;
  font-size: 1.4rem; /*  13〜16 */
  line-height: 1.66; /* 1.5〜1.9 */
  cursor: auto;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  color: inherit;
  font-style: normal;
  font-weight: bold;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.2;
}

h2 {
  margin: 48px 0 24px;
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 1.2;
}
h2 + h3, h2 + h4, h2 + h5, h2 + h6 {
  margin-top: 24px;
}

h3 {
  margin: 48px 0 24px;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.2;
}
h3 + h4, h3 + h5, h3 + h6 {
  margin-top: 24px;
}

h4 {
  margin: 32px 0 16px;
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 1.2;
}
h4 + h5, h4 + h6 {
  margin-top: 16px;
}

h5 {
  margin: 24px 0 16px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
}
h5 + h6 {
  margin-top: 16px;
}

h6 {
  margin: 24px 0 16px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  color: #1d68b6;
  text-decoration: underline;
}
a:active, a:hover {
  outline: 0;
}
a:hover, a:focus {
  color: #124274;
  text-decoration: none;
}

img {
  width: auto\9;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

hr {
  position: relative;
  z-index: 11;
  clear: both;
  box-sizing: content-box;
  margin: 0 auto 16px;
  height: 0;
  border: solid #bdbdbd;
  border-width: 1px 0 0;
}

p {
  margin-top: 16px;
}

p:first-child {
  margin-top: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  list-style-position: outside;
  margin-top: 16px;
  margin-left: 1.6em;
}

li {
  margin-top: 8px;
}

ul ul, ul ol, ol ul, ol ol {
  margin-top: 0;
  margin-left: 1.5em;
}

dl {
  margin-top: 16px;
}

dt {
  margin-top: 8px;
  font-weight: bold;
}

dd {
  margin-top: 8px;
}

blockquote, q {
  quotes: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote {
  margin-top: 32px;
  padding: 16px;
  border-left: 6px solid #1d68b6;
  background: #e9e9e9;
  color: #767676;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.66;
}
blockquote p {
  margin: 0;
}
blockquote cite {
  color: #555;
  font-size: 16px;
  font-size: 1rem;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.clearfix::after,
.row::after,
.container::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.gutter {
  padding-left: 12px;
  padding-right: 12px;
}

[class*="col-"] {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
}

.col-1 { width: 8.33333%; }
.col-2 { width: 16.66667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333%; }
.col-5 { width: 41.66667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333%; }
.col-8 { width: 66.66667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333%; }
.col-11 { width: 91.66667%; }
.col-12 { width: 100%; }

.col-offset-1 { margin-left: 8.33333% !important; }
.col-offset-2 { margin-left: 16.66667% !important; }
.col-offset-3 { margin-left: 25% !important; }
.col-offset-4 { margin-left: 33.33333% !important; }
.col-offset-5 { margin-left: 41.66667% !important; }
.col-offset-6 { margin-left: 50% !important; }
.col-offset-7 { margin-left: 58.33333% !important; }
.col-offset-8 { margin-left: 66.66667% !important; }
.col-offset-9 { margin-left: 75% !important; }
.col-offset-10 { margin-left: 83.33333% !important; }
.col-offset-11 { margin-left: 91.66667% !important; }



@media screen and (min-width: 576px) {
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }
}





@media screen and (min-width: 768px) {
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; }
}

@media screen and (min-width: 992px) {
  .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-12 { width: 100%; }
}


@media screen and (min-width: 1200px) {
  .col-xl-1 { width: 8.33333%; }
  .col-xl-2 { width: 16.66667%; }
  .col-xl-3 { width: 25%; }
  .col-xl-4 { width: 33.33333%; }
  .col-xl-5 { width: 41.66667%; }
  .col-xl-6 { width: 50%; }
  .col-xl-7 { width: 58.33333%; }
  .col-xl-8 { width: 66.66667%; }
  .col-xl-9 { width: 75%; }
  .col-xl-10 { width: 83.33333%; }
  .col-xl-11 { width: 91.66667%; }
  .col-xl-12 { width: 100%; }
}



@media screen and (min-width: 768px) {
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: small;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Mayryo','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.pc-header-login-nav li a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  word-break: break-all;
  overflow: hidden;
}

.navi {
  padding: 10px 0 2px 10px;
  text-align: left;
  background-color: #fff;
  border-bottom: 2px solid #000;
  position: relative;
}

.navi ul {
  margin: 1px 0;
  padding: 0;
}

.navi li {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  *display: inline;
  *zoom: 1;
}

.dropmenu li {
  position: relative;
}

.blogtitle {
  float: left;
  display: block;
  width: 240px;
  height: 41px;
  padding: 2px 0 0;
  background: url();
  background-repeat: no-repeat;
}

.navi li a:visited {
  text-decoration: none;
  color: #000;
}

.navi li a:link {
  text-decoration: none;
  color: #000;
}


.navi li a {
  text-decoration: none;
  padding: 0 7px;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.dropmenu li a {
  display: block;
}

.navi ul {
  margin: 1px 0;
  padding: 0;
}

.dropmenu li ul {
  width: 120px;
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

.search-box {
  /* border-bottom: solid 2px #000; */
  padding: 0px 0px 30px 0;
  margin: 30px 0px;
  position: relative;
}

.search-box .search-left {
  float: left;
  width: 20%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-box .search-left p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  line-height: 2.2;
}




.search-box .seach-right {
  float: right;
  width: 80%;
  box-sizing: border-box;
  padding: 0 1rem;
}

.search-box .seach-right form {
  display: flex;
}

input[type="hidden" i] {
  display: none;
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.search-box .seach-right form input[type="text"] {
  box-sizing: border-box;
  width: 80%;
  -webkit-appearance: none;
  background: #fff;
  border: none;
  border: 2px solid #000;
  padding: 0.5rem;
  font-size: 16px;
}

.search-box .seach-right form input[type="submit"] {
  box-sizing: border-box;
  width: 20%;
  background: #000;
  border: none;
  -webkit-appearance: none;
  padding: 0.5rem;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5rem;
  transition: 0.3s;
}

.blogcontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.right_title {
  width: 30%;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

.right_content {
  width: 100%;
}

.msgb {
  width: 100% ;
  height: 250px;
  background-color: rgb(255, 154, 154);
  margin: 0 10px 15px 0;
}

.fullbody {
  width: 50%;
  border: solid 1px black;
  display: block;
}

.blogbody {
  text-align: center;
  margin: 0 15px 5px 0;
  padding: 0 0 1px 0;
}

.titlebody_cate {
  text-align: left;
  padding: 0px 0px 1px;
  margin: 0 0 5px;
  background-color: #fff;
}

.title-toppage {
  font-size: medium;
  font-weight: normal;
  padding-bottom: 0;
  line-height: 140%;
}


.nextpage {
  text-align: center;
  clear: both;
}

div {
  display: block;
}

.index-navigator-outer {
  text-align: center!important;
}

.index-navigator li {
  font-weight: normal;
}

ol.paging-number, ol.paging-number li {
  display: inline;
}

ul.index-navigator li.paging-number ol.paging-number li.current {
  margin: 0 5px;
  font-weight: bold;
}

ul.index-navigator li {
  font-weight: normal;
}

ul.index-navigator li a {
  margin: 0 2px;
  padding: 0 3px;
  font-weight: normal;
  zoom: 1;
}

ul.index-navigator li {
  font-weight: normal;
}

ul.index-navigator li, ol.paging-number, ol.paging-number li {
  display: inline;
}

a {
  color: #000;
}

.title_thum {
  padding-left: 0px;
}

.title-toppage a:visited {
  color: #0030BF;
}

.title-toppage a:link {
  color: #0030BF;
}

.title-toppage a {
  text-decoration: none;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.posted {
  font-size: 10px;
  color: #9a9a9a;
  text-align: right;
  padding: 2px 5px 0;
}

.footer {
  font-size: 10px;
  width: 960;
  text-align: center;
  margin: 50px 0 20px;
  border-top: 5px solid #000;
  padding-top: 5px;
}


}